@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
  }

  .animate-gradient {
    background-size: 200% 200%;
    animation: gradientShift 15s ease infinite;
  }
  html.light {
    --bg: #ffffff;
    --text: #111111;
    --card: #f1f1f1;
    --input: #e5e7eb;
  }
  html.dark {
    --bg: #0f0f0f;
    --text: #f9f9f9;
    --card: #1f1f1f;
    --input: #2d2d2d;
  }

  @layer base {
    body {
      background-color: var(--bg);
      color: var(--text);
    }
  }
}
